img{
  width: 40%;
}
.nested-table {
  padding: 0;
  border: none;
}
.msg-content {
  background-color: #f5f5f5;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  border: 1px solid #ccc;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Màu nền mờ */
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-container {
  display: flex;
  position: relative;
  width: 500px; /* Điều chỉnh độ rộng của form */
  background-color: #fff;
  padding: 20px;
  margin: 0 auto;
  height: 500px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.form-container textarea {
  width: 445px;
  height:100%; /* Điều chỉnh chiều cao của văn bản */
  resize: none; /* Ngăn chặn người dùng thay đổi kích thước của textarea */
}

.msg-content{
  width: 445px;
  height: 100%;

}
.close-button {
  position: absolute;
  right: 4px;
  top: 3px;
}

.refresh-button{
  margin-top: 2px;
  margin: auto;
  padding-bottom: 16px;
  font-size: 20px;
}

nz-select {
  margin: 0 8px 10px 0;
  width: 120px;
}

input{
  margin: 0 8px 10px 0;
  width: 120px;
}
.search-row {
  display: flex;
  align-items: center;
}

.search-field {
  margin-right: 10px;
}

.search-button {
  margin-left: 10px;
  margin-bottom: 14px;
}

label{
  padding-right: 12px;
}
.edit-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-form-container {
  position: relative;
  width: 500px; /* Điều chỉnh độ rộng của form */
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.edit-form {
  display: flex;
  flex-direction: column;
}

.edit-form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.close-icon {
  font-size: 16px;
}
.edit-form-close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
}

/* Căn đều các ô */
nz-form-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

nz-form-label {
  flex: 0 0 120px; /* Điều chỉnh độ rộng của nhãn */
}

nz-form-control {
  flex: 1;
  margin-left: 10px;
}

/* Đặt chiều rộng 100% cho các ô nhập liệu */
input {
  width: 100%;
}

.refresh-button{
  margin-top: 2px;
  margin: auto;
  padding-bottom: 16px;
  font-size: 20px;
}

nz-select {
  margin: 0 8px 10px 0;
  width: 120px;
}

input{
  margin: 0 8px 10px 0;
  width: 120px;
}
.search-row {
  display: flex;
  align-items: center;
}

.search-field {
  margin-right: 10px;
}

.search-button {
  margin-left: 10px;
  margin-bottom: 14px;
}

label{
  padding-right: 12px;
}
