
<nz-layout class="app-layout">
  <ng-container *ngIf="showHeaderSidebar">
    <nz-sider class="menu-sidebar"
              nzCollapsible
              nzWidth="256px"
              nzBreakpoint="md"
              [(nzCollapsed)]="isCollapsed"
              [nzTrigger]="null">
      <!-- Nội dung của sidebar -->
      <div class="sidebar-logo">
        <a routerLink="/home" routerLinkActive="active">
          <span nz-icon nzType="bank" nzTheme="outline"></span>
          <h1>KEB Hana Bank</h1>
        </a>
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li nz-submenu nzOpen nzTitle="Tạo mã QR" nzIcon="dashboard">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/genadqr">Mã QR quảng cáo</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/genqrbank">Mã QR cá nhân</a>
            </li>
          </ul>
        </li>
        <li nz-submenu nzOpen nzTitle="Quản lý" nzIcon="form" >
          <ul *ngIf="isAdmin">
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/user">Quản lý tài khoản</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/qr">Quản lý QR</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/trans">Theo dõi bản tin Payment</a>
            </li>
          </ul>
          <ul *ngIf="!isAdmin">
            <li nz-menu-item nzMatchRouter *ngIf="!isAdmin">
              <a routerLink="/myQR">Mã QR của tôi</a>
            </li>
            <li nz-menu-item nzMatchRouter *ngIf="!isAdmin">
              <a routerLink="/myAccount">Chỉnh sửa thông tin cá nhân</a>
            </li>
          </ul>

        </li>

      </ul>

    </nz-sider>
    <nz-layout>
      <nz-header>
        <!-- Nội dung của header -->
        <div class="app-header">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
          </span>
          <div class="logout-button">
            <button nz-button nzType="text" (click)="logout()" nzSize="small">
              Đăng xuất
            </button>
          </div>
        </div>
      </nz-header>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </ng-container>
  <ng-container *ngIf="!showHeaderSidebar">
    <router-outlet></router-outlet>
  </ng-container>
</nz-layout>
